@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 230vh;
    background-image: linear-gradient(to top, #343a40, #8d99ae);
}

/* NAVBAR */

.nav-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    padding: 12px;
    background-color: #343a40;
    opacity: .8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-container h1 a {
    text-decoration: none;
    color: #ced4da;
    text-align: center;
    font-family: "Oooh Baby", cursive;
    font-size: 3rem;
}

.nav-container h1 a:hover {
    color: #e9ecef;
}

.nav-btns-left {
    place-content: center;
}

.nav-btns-left button {
    margin: 0 12px;
    border: none;
    background: none;
    font-size: 1.2rem;
    color: #dee2e6;
}

.nav-btns-left button:hover {
    color: #e9ecef;
    cursor: pointer;
}

.nav-btns-right {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-btns-right a {
    text-decoration: none;
    color: #f8f9fa;
}

.nav-btns-right a:hover {
    color: #e9ecef;
}

/* .divider {
    border-top: 3px solid #343a40;
    padding: 2px 2px
} */

/* #profile-name {
    color: #dee2e6;
} */




/* dropdown left */
.dropbtn-left {
    padding: 8px;
    border: none;
}

.dropdown-left {
    position: relative;
    display: inline-block;
}

.dropdown-content-left {
    display: none;
    position: absolute;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    z-index: 2;
}



.dropdown-content-left a {
    text-decoration: none;
    color: #dee2e6;
    padding: 8px;
    display: block;
    width: fit-content;
}

/* dropdown right */
.dropbtn-img {
    background-color: #ede7e3;
    width: 32px;
    height: 32px;
    border: none;
}

.dropdown-right {
    position: relative;
    display: inline-block;
}



.profile-content {
    display: none;
    position: absolute;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    z-index: 1;

}

.profile-content a {
    text-decoration: none;
    color: black;
    padding: 8px;
    display: block;
}


/* NAVBAR HOVER */
.dropdown-content-left a:hover {
    font-weight: bold;
    /* font-size: 1.1rem; */
}

.dropdown-left:hover .dropdown-content-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: #dee2e6; */
    background-color: #343a40;
    /* margin-top: 28px; */
    padding: 12px;
    width: 400%;
}

/* FIX ISSUE - PROFILE CONTAINER GOING OFF SCREEN
- MAKE PROFILE IMAGE A CIRCLE
*/

.profile-content .btn {
    border: none;
    background: none;
    color: #adb5bd;
}

.profile-content .btn:hover {
    color: #ced4da;
}

.dropdown-right:hover .profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    background-color: #343a40;
    color: #adb5bd;
    padding: 8px 28px;
    transform: translate(-45px);
}

#profile-name {
    color: #adb5bd;
}

#profile-name:hover {
    color: #ced4da;
}

/* SLIDESHOW */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* hide images by default */
.slides {
    display: none;
}

.slides img {
    height: 95vh;
    object-fit: cover;
    object-position: 15% 30%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 1);
}

/* next and previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #adb5bd;
    font-weight: bold;
    font-size: 32px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
}

/* position the next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: white;
}

/* SHOW INFO DETAILS */

.show-info {
    max-width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 8px 12px;
    position: absolute;
    top: 60%;
    left: 2%;
    text-align: left;
}

.show-info h1,
.show-info h3 {
    margin-bottom: 12px;
}


.slide-btn .watch-btn {
    width: 30%;
    margin-top: 16px;
    margin-right: 12px;
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.slide-btn .add-btn {
    width: 10%;
    height: 32px;
    /* font-size: 1rem; */
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.show-one .title {
    font-size: 3rem;
    font-family: "Press Start 2P", system-ui;
}

.show-one .title .title-span {
    font-family: "Press Start 2P", system-ui;
    color: #ef233c;
    font-size: 5rem;
}

.show-one h3,
.show-one p {
    color: whitesmoke;
}

.show-two h1 {
    font-size: 5rem;
    font-family: "Montenegrin Gothic One", serif;
}

.show-three h1 {
    font-size: 3.5rem;
    font-family: "Racing Sans One", sans-serif;
}

.show-three .title-span {
    font-size: 5rem;
    font-family: "Racing Sans One", sans-serif;
    color: #7ae582;
}

.show-four h1 {
    font-family: "Waiting for the Sunrise", cursive;
    font-size: 4rem;
}

/* bullet indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2 ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* SHOW LIST CONTAINERS */
.show-list-container {
    padding-left: 2%;
}

.show-list-container h2 {
    color: white;
}

.content-box {
    color: #dee2e6;
    text-align: center;
}

.trending,
.for-you {
    margin-bottom: 20px;
}

.trending p,
.for-you p {
    font-size: .8rem;
    color: #adb5bd;
}

.shows-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

/* .content-box {
    border: 2px solid black;
    min-width: 10%;
    height: 30vh;
} */

.content-box img {
    min-width: 10%;
    height: 30vh;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, .3);
    margin-bottom: 8px;
}

.content-box img:hover {
    border: 1px solid white;
}

.scroll-container {
    overflow: scroll;
    white-space: nowrap;
    padding: 10px;
    scrollbar-width: none;
}


/* FOOTER CONTAINER */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    color: #ced4da;
    font-weight: bold;
}

.footer-left .icon-links {
    margin-bottom: 10px;
}

.icon-links a {
    text-decoration: none;
    color: #ced4da;
}

.icon-links a:hover {
    cursor: pointer;
    color: #adb5bd;
}

.footer-right button {
    background: none;
    border: none;
    color: #ced4da;
    font-weight: bold;
    margin: 0 12px;
}

.footer-right button:hover {
    cursor: pointer;
    color: #adb5bd;
}